<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create TODO</title>
</head>
<body>
<h1>Create Article</h1>

<form action="" method="POST" enctype="multipart/form-data">
    <label for="articleName">Name: </label>
    <input type="text" name="articleName" id="articleName">

    <label for="articleDescription">Description: </label>
    <input type="text" name="articleDescription" id="articleDescription" >

    <label for="image">Image: </label>
    <input type="file" name="image" id="image" >

    <input type="submit" value="Submit" />
</form>
</body>
</html>

